<div class="container">
    <form name="formReg" novalidate>
        <div>
            <acme-navbar creation-date="main.creationDate"></acme-navbar>
        </div>
        
        <div class="form">
            <div>
                <h2>{{'ADD_PLANT' | translate}}</h2>
                <div style="display:inline-block;">{{'NAME' | translate}}</div>
                <div>
                    <input type="text" ng-model="plant.name" name="pName" ng-minlength="3" ng-maxlength="10" required="">
                    <div ng-show="formReg.$submitted || formReg.pName.$touched" style="display:inline-block;">
                        <div ng-show="formReg.pName.$error.required || formReg.pName.$error.minlength || formReg.pName.$error.maxlength" style="display:inline-block;"> 
                        Required, must be between 3 and 10 symbols</div>
                    </div>
                </div>
            </div>
            <div>
                <div style="display:inline-block;">{{'AGE' | translate}}</div>
                <div>
                    <input type="text" ng-model="plant.age" name="age" ng-pattern="/^[0-9]{1,3}$/" required="">
                    <div ng-show="formReg.$submitted || formReg.age.$touched" style="display:inline-block;">
                        <div ng-show="formReg.age.$error.required || formReg.age.$error.pattern" style="display:inline-block;"> Required, only digits allowed</div>
                    </div>
                </div>
            </div>
            <div>
                <div style="display:inline-block;">{{'WATERING_INTERVAL' | translate}}</div>
                <div>
                    <input type="text" ng-model="plant.waterInterv" name="interval" ng-pattern="/^[0-9]{1,3}$/" required="">
                    <div ng-show="formReg.$submitted || formReg.interval.$touched" style="display:inline-block;">
                        <div ng-show="formReg.interval.$error.required || formReg.interval.$error.pattern" style="display:inline-block;"> Required, only digits allowed</div>
                    </div>
                </div>
            </div>
            <div>
                <div style="display:inline-block;">{{'IMAGE_LINK' | translate}}</div>
                <div>
                    <input type="text" ng-model="plant.image" name="image" required="">
                    <div ng-show="formReg.$submitted || formReg.image.$touched" style="display:inline-block;">
                        <div ng-show="formReg.image.$error.required" style="display:inline-block;"> Required</div>
                    </div>
                </div>
            </div>
            <button class="butn add" type="submit" ng-click="$ctrl.registerPlant(plant)" value="">{{'ADD' | translate}}</button>
        </div>
    </form>    
</div>