<button style="" ng-click="$ctrl.deletePlant($ctrl.plant)">x</button><img ng-src="{{$ctrl.plant.image}}" style="max-height:200; max-width:200;" />
<div>{{$ctrl.plant.name}}</div>
<div>{{'AGE' | translate}}: {{$ctrl.plant.age}}</div>
<div>{{'WATERING_INTERVAL' | translate}} {{$ctrl.plant.waterInterv}} {{'DAYS' | translate}}</div>
<div>{{'LAST_WATERED' | translate}}: {{$ctrl.plant.lastWatered | date:'dd MMM yyyy'}}</div>

<div style="color:red;" ng-if="$ctrl.needsWatering($ctrl.plant)">
    {{'NEEDS_WATER' | translate}}!
    <button ng-click="$ctrl.waterNow($ctrl.plant)">{{'WATER' | translate}}</button>
</div>
<div style="color:green;" ng-if="!$ctrl.plant.needsWater">
    {{'PLAN_WATER' | translate}} {{$ctrl.plant.nextWater}} {{'DAYS' | translate}}
</div>